*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 30px;
}

body, html {
    width: 100%;
    height: 100%;
}

body{
    background: url("https://phonoteka.org/uploads/posts/2021-05/1620737416_2-phonoteka_org-p-cherno-belii-fon-geometriya-2.png");
    background-size: cover;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.block-top{
    width: 90%;
    height: 33.33%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.block-mid{
    width: 90%;
    height: 33.33%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.block-bottom{
    width: 90%;
    height: 33.33%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

img{
    width: 200px;
    height: 200px;
    border: 5px solid black;
    transition: 1s;
    box-shadow: 10px 5px 5px rgb(150, 149, 149);
}

.e{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.version{
    font-size: 30px;
    color: rgb(97, 87, 87);
    left: 750px;
    top: 350px;
    background: rgba(255, 255, 255, 0);
}

img:hover{
    transform: scale(1.3);
    border-radius: 30px;
}